
body {
  font-family: Arial;
  background: #f5f5f5;
  margin: 0;
}

.navbar {
  background: #556b5d;
  color: white;
  padding: 15px;
  text-align: center;
}

.cart-container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
}

.cart-item {
  background: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.cart-item img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.item-details {
  flex: 1;
}

select, input {
  padding: 6px;
  margin-top: 5px;
  width: 100%;
  max-width: 150px;
}

button {
  padding: 10px 15px;
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.total-box {
  text-align: right;
  margin-top: 20px;
}

.back-btn {
  margin-top: 20px;
}

@media (max-width: 600px) {

  .cart-item {
    flex-direction: column;
    text-align: center;
  }

  .cart-item img {
    width: 100%;
    height: 200px;
  }

  .item-details {
    width: 100%;
  }

  #woodQty{
    width: 20%;
  }

  #woodSize{
    width: 50%;
  }

  #collageSize{
    width: 50%;
  }

   #collageQty{
    width: 20%;
  }

  select, input {
    max-width: 100%;
  }

  .total-box {
    text-align: center;
  }

  button {
    width: 100%;
    margin-top: 10px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {

  .cart-item img {
    width: 100px;
    height: 100px;
  }

  select, input {
    max-width: 120px;
  }
}