* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f9f9f9;
}

.navbar {
  background: #556b5d;
  color: white;
  padding: 15px;
  text-align: center;
}

.logo {
  margin: 0;
}

.contact-container {
  max-width: 600px;
  margin: auto;
  padding: 30px 20px;
  text-align: center;
}

.subtitle {
  margin-bottom: 20px;
  color: #555;
}

.contact-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #556b5d;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #3e5044;
}

.back-btn {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  color: #f9f9f9;
  background:  #556b5d;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .contact-container {
    padding: 20px 15px;
  }

  .contact-box {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .contact-container {
    max-width: 90%;
  }
}