* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 160%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #f4f4f4;
}

.navbar a{
  text-decoration: none;
}
.menu {
  font-size: 24px;
  cursor: pointer;
}

.logo {
  color: #2f4f4f;
  margin-left: 45%;
}

.nav-icons {
  font-size: 20px;
}

.side-menu {
  position: fixed;
  left: -260px;
  top: 0;
  width: 260px;
  height: 100%;
  background: white;
  box-shadow: 2px 0 8px rgba(0,0,0,0.3);
  padding-top: 60px;
  transition: 0.3s;
  z-index: 1000;
}

.side-menu a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #eee;
}

.sale-banner {
  background: #556b5d;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

.sale-banner h1 {
  margin: 10px 0;
}

.sale-banner button a{
  padding: 10px 25px;
  border: none;
  background: white;
  color: #556b5d;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.hero img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  
}

.hero-text {
  text-align: center;
  padding: 20px;
}

.categories {
  padding: 30px 20px;
  text-align: center;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card p {
  margin-top: 10px;
  font-weight: bold;
}
.menu-item {
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.submenu {
  display: none;
  background: #f5f5f5;
}

.submenu.show {
  display: block;
}

.submenu a {
  display: block;
  padding: 10px 25px;
  text-decoration: none;
  color: #333;
}
.side-menu {
  position: fixed;
  left: -260px;
  top: 0;
  width: 260px;
  height: 100%;
  background: white;
  box-shadow: 2px 0 8px rgba(0,0,0,0.3);
  padding-top: 60px;
  transition: 0.3s;
  z-index: 1000;
}

.side-menu.active {
  left: 0;
}

.side-menu {
  left: -260px;
}

.why-choose {
  background: #556b5d;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.why-choose h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.subtitle {
  max-width: 600px;
  margin: 0 auto 30px;
  font-size: 16px;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.why-card {
  padding: 20px;
}

.why-card span {
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
}

.why-card h3 {
  margin-bottom: 8px;
}

.why-card p {
  font-size: 14px;
  color: #e0e0e0;
}

@media (max-width: 768px) {
  .hero img {
    height: 220px;
  }

  .category-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .why-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .category-grid {
    grid-template-columns: 1fr;
  }
  .why-grid {
    grid-template-columns: 1fr;
  }

  .logo{
    margin-left: 35%;
  }
}