.categories {
  padding: 30px 20px;
  text-align: center;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card p {
  margin-top: 10px;
  font-weight: bold;
}

.navbar {
  background: #556b5d;
  color: white;
  padding: 15px;
  text-align: center;
}

.logo {
  margin: 0;
}

button {
  width: 15%;
  padding: 12px;
  border: none;
  background: #556b5d;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 40%;
}

@media (max-width: 768px) {

  .category-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 480px) {
  .category-grid {
    grid-template-columns: 1fr;
  }

  .logo{
    margin-left: 5%;
  }

  button{
    width: 150px;
    margin-left: 25%;
  }
}